.icon_markdown_h1 {width:32px;height:32px;background: url('../img/icon/h1.png') no-repeat center center;}
.icon_markdown_h2 {width:32px;height:32px;background: url('../img/icon/h2.png') no-repeat center center;}
.icon_markdown_h3 {width:32px;height:32px;background: url('../img/icon/h3.png') no-repeat center center;}
.icon_markdown_h4 {width:32px;height:32px;background: url('../img/icon/h4.png') no-repeat center center;}
.icon_markdown_h5 {width:32px;height:32px;background: url('../img/icon/h5.png') no-repeat center center;}
.icon_markdown_bold {width:32px;height:32px;background: url('../img/icon/bold.png') no-repeat center center;}
.icon_markdown_italic {width:32px;height:32px;background: url('../img/icon/italic.png') no-repeat center center;}
.icon_markdown_underline {width:32px;height:32px;background: url('../img/icon/underline.png') no-repeat center center;}
.icon_markdown_through {width:32px;height:32px;background: url('../img/icon/through.png') no-repeat center center;}
.icon_markdown_text_center {width:32px;height:32px;background: url('../img/icon/text-center.png') no-repeat center center;}
.icon_markdown_code {width:32px;height:32px;background: url('../img/icon/code.png') no-repeat center center;}
.icon_markdown_list {width:32px;height:32px;background: url('../img/icon/list.png') no-repeat center center;}
.icon_markdown_links {width:32px;height:32px;background: url('../img/icon/links.png') no-repeat center center;}
.icon_markdown_image {width:32px;height:32px;background: url('../img/icon/image.png') no-repeat center center;}
.icon_markdown_catalogue {width:32px;height:32px;background: url('../img/icon/catalogue.png') no-repeat center center;}
.icon_markdown_help {width:32px;height:32px;background: url('../img/icon/help.png') no-repeat center center;}