<div class="container-fluid" xmlns="http://www.w3.org/1999/html">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
                    <h5>加班列表</h5>
                </div>
                <div class="widget-title">
                    <ul class="nav nav-tabs">
                        <li ng-show="listOwn" ng-class="{active:listOwn&&(seeSelf==1||!list)}" ng-click="reload('own')"><a data-toggle="tab" href="#workoverOwn">个人查询</a></li>
                        <li  ng-show="list" ng-class="{active:list&&seeSelf!=1}" ng-click="reload()"><a data-toggle="tab" href="#workoverEmployeeList">加班审批</a></li>
                        <li ng-show="listEmp" ng-class="{active:list&&!list&&!listOwn}" ng-click="reload('employeeList')"><a data-toggle="tab" href="#workoverEmployee" >下属查询</a></li>
                    </ul>
                </div>
                <div class="widget-content tab-content">
                    <ng-include  ng-show="listOwn" src="'modules/workOvertime/templates/listOwn.html'" id="workoverOwn" class="tab-pane" ng-class="{active:listOwn&&(seeSelf==1||!list)}"></ng-include>
                    <ng-include  ng-show="list" src="'modules/workOvertime/templates/list.html'" id="workoverEmployeeList" class="tab-pane" ng-class="{active:list&&seeSelf!=1}"></ng-include>
                    <ng-include  ng-show="listEmp" src="'modules/workOvertime/templates/listEmp.html'" id="workoverEmployee" class="tab-pane" ng-show="!listOwn" ng-class="{active:list&&!list&&!listOwn}"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>

