
<div class="widget-content nopadding" ng-controller="workOvertimeListCtrl">
    <div class="dataTables_wrapper">
        <div>
            <div class="dataTables_length form-horizontal" style="width: 100%;">
                <div style="width: 96%;margin: 5px;">
                    <span style="float: left;margin: 3px 10px">从</span><input  type="date" name="timeFrom2" ng-model="searchData2.beginTime" style="width: 150px;float: left"/>
                    <span style="float: left;margin: 3px 10px">到</span><input  type="date" name="timeTo2" ng-model="searchData2.endTime" style="width: 150px;float: left"/>

                   <!-- <div class="btn-group" style="width: 16%;float: left;margin: 0 0 0 10px;">
                        <label ng-repeat="value in vm2.values" style="float: left">
                            <input type="checkbox" ng-checked="true" ng-model="vm2.selection['checked'+value.id]" value="{{value.id}}" ng-change="listenCheck()" />
                            <span style="position: relative;top: 3px">{{value.type}}</span>&nbsp;&nbsp;
                        </label>
                    </div>-->
                    <input type="text" name="searchname" ng-model="searchData2.employeeText" placeholder="员工姓名、简拼、工号"
                           style="width: 11%;float: left;margin: 0 4px;" ng-keydown="enterSeacrh()"  />
                    <button style="margin-left: 10px" type="button" class="btn btn-success"  data-ng-click="loadGridData()">
                        <span class="text"><i class="icon-search"></i> 查询</span>
                    </button>
                    <div style="float:right;display: inline-block;margin-right: 0;">
                        <button class="btn btn-warning" style="margin-left: 10px" data-placement="left" ng-show="employeeSelection.extraWorkId.length>1" data-bs-popover="'rejectAll.html'">
                            <span class="text"><i class="icon-legal"></i> 批量驳回</span>
                        </button>
                        <button class="btn btn-success" style="margin-left: 10px" ng-show="employeeSelection.extraWorkId.length>1;" data-placement="left" data-bs-popover="'passAll.html'">
                            <span class="text"    style="color: #ffffff"><i class="icon-check"></i>批量同意</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered" style="border-bottom: 1px solid #cccccc;border-top: 1px solid #cccccc;" data-kz-table-fixed-header>
            <thead>
            <tr>
                <th hidden="true">
                    extraWorkId
                </th>
                <th  class="span1" >
                    <input  type="checkbox" ng-model="chkall" ng-click="checkAll(chkall)"/>
                </th>
                <th class="span1">
                    员工姓名
                </th>
                <th class="span2">
                    加班开始时间
                </th>
                <th class="span2">
                    加班结束时间
                </th>
                <th class="span1">
                    加班时长
                </th>
                <th class="span1">
                    饭补
                </th>
                <th class="span1">
                    加班类型
                </th>
                <th class="span2">
                    加班说明
                </th>
                <th class="span1">
                    状态
                </th>
                <th class="span2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr  data-ng-class="{'info':item.employeeSelection,'delete-line':item.isDelete}" data-ng-repeat="item in data2" id="{{'row'+item.extraWorkId}}" >
                <td hidden="true">{{ item.extraWorkId }}</td>
                <td class="center"><input type="checkbox" ng-model="item.employeeSelection"  data-ng-click="toggleEmployeeSelection(item)"/></td>
                <td class="center"  data-ng-click="toggleEmployeeSelection(item)">{{ item.employeeName }}</td>
                <td class="center"  data-ng-click="toggleEmployeeSelection(item)">{{ parseDate(item.beginTime)| date : 'yyyy年MM月dd日 HH点mm分' }};{{ parseDateWeek(item.beginTime)}}</td>
                <td class="center" data-ng-click="toggleEmployeeSelection(item)">{{ parseDate(item.endTime)| date : 'yyyy年MM月dd日 HH点mm分' }};{{ parseDateWeek(item.endTime)}}</td>
                <td class="center" data-ng-click="toggleEmployeeSelection(item)">{{ item.duration }}</td>
                <td class="center" data-ng-click="toggleEmployeeSelection(item)">{{ item.dinner==1?'√': '' }}</td>
                <td class="center" data-ng-click="toggleEmployeeSelection(item)">{{ item.isSalary==1?'日常加班 ': '节假日加班'}}</td>
                <td title="{{ item.reason }}" data-ng-click="toggleEmployeeSelection(item)">{{ item.reason }}</td>
                <td class="center" data-ng-click="toggleEmployeeSelection(item)">{{ passTypeList(item.statusId) }}</td>
                <td class="center"  data-ng-click="toggleEmployeeSelection(item)">


 <!--                                   <span class="btn-inverse btn-small margin">
                                        <a  style="color: #ffffff" href="" data-ng-click="showTrackData(item.extraWorkId )">
                                            <i class="icon-truck"></i> 轨迹</a>
                                    </span>
-->

                <span class="btn-warning btn-small margin" data-trigger="click" data-unique="1" data-placement="left" data-bs-popover="'reject.html'">
                        <a href="" style="color: #ffffff"><i class="icon-legal"></i> 驳回</a>
                    </span>


                    <span class="btn-success btn-small margin"  data-trigger="click" data-unique="1" data-placement="left" data-bs-popover="'pass.html'">
                        <a href="" style="color: #ffffff"><i class="icon-check"></i> 同意</a>
                    </span>

                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui-toolbar ui-widget-header">
            <div class="dataTables_paginate">
                <button class="btn" data-ng-click="loadGridData('employee',true)" data-ng-disabled="!hasManyData2" data-ng-hide="isLoading2">
                                        <span data-ng-switch on="hasManyData2">
                                            <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                                            <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                                        </span>
                </button>
                <img data-ng-show="isLoading2" src="./img/loading.gif" />
            </div>
        </div>
    </div>
</div>