<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">

                <div class="widget-content nopadding">
                    <div class="dataTables_wrapper">

                        <table class="table table-bordered" style="border-bottom: 1px solid #cccccc;border-top: 1px solid #cccccc;" data-kz-table-fixed-header>
                            <thead>
                            <tr>
                                <th class="span6">

                                </th>
                                <th class="span9">
                                    关联工资
                                </th>
                                <th class="span3">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr >
                                <td class="center" >迟到早退薪资绑定</td>
                                <td class="center" ng-if="!item.$editing" ><span ng-repeat="salaryName in getSalaryTypeName(item)" style="margin-left: 20px">{{ salaryName }}</span></td>
                                <td class="center" ng-if="item.$editing">
                                    <div class="btn-group">
                                        <label ng-repeat="value in vm.values" style="float: right">
                                            <input type="checkbox" ng-click="isClick(value.salaryTypeId,item)" ng-checked="item.salaryTypeId.toString().indexOf(value.salaryTypeId)>-1" ng-value="value.salaryTypeId"/>
                                            <span style="position: relative;top: 3px;margin-right: 20px">{{value.salaryTypeName}}</span>
                                        </label>
                                    </div>
                                </td>


                                <td class="center">

                                    <button class="btn btn-info" ng-if="!item.$editing" ng-click="item.$editing = true">
                                        <a href="" style="color: #ffffff"><i class="icon-edit"></i> 编辑</a>
                                    </button>
                                    <button class="btn btn-info" ng-if="item.$editing"  data-ng-click="saveEditData(item)" data-ng-disabled="item.salaryTypeId==null">
                                        <a href="" style="color: #ffffff"><i class="icon-edit"></i> 保存</a>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="ui-toolbar ui-widget-header">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

