<div class="widget-content nopadding" ng-controller="leaveListEmpCtrl">
    <div class="dataTables_wrapper">
        <div>
            <div class="dataTables_length form-horizontal" style="width: 100%">
                <div style="width: 96%;margin: 5px;">
                    <!--<input placeholder="请假类型" type="text" select2 multiple
                           style="margin-left: 10px;min-width: 10%" class="form-control" ng-model="leaveTypeSelection3" config="leaveTypesConfig" ng-change="getLeaveTypesData(this)">
                    </input>-->

                    <span style="float: left;margin: 3px 10px">从</span><input type="date" name="timeFrom1" ng-model="searchData3.beginTime" style="width: 150px;float: left"/>
                    <span style="float: left;margin: 3px 10px">到</span><input type="date" name="timeTo1" ng-model="searchData3.endTime" style="width: 150px;float: left"/>
                    <span class="btn" style="margin: 0 10px;"data-placement="bottom" data-bs-popover="'leaveTypeOptions.html'">
                        <span style="color: #808080">请假类型</span>
                    </span>
                    <input type="text" name="searchname" ng-model="searchData3.employeeText" placeholder="员工姓名、简拼、工号" style="width: 150px;margin: 0 10px;" ng-keydown="enterSeacrh('employeeList')"/>
                    <button style="margin-left: 10px" type="button" class="btn btn-success" data-ng-click="loadGridDataEmp(null,'employeeList')">
                        <span class="text"><i class="icon-search"></i> 查询</span>
                    </button>
                </div>
            </div>
            <div class="btn-group" style="margin-left: 10px">
                <label ng-repeat="value in vm3.values" style="float: left;margin-left: 10px">
                    <input type="checkbox"  ng-checked="true" ng-model="vm3.selection['checked'+value.id]" value="{{value.id}}" ng-change="listenCheck('employeeList')" />
                    <span style="position: relative;top: 3px">{{value.type}}</span>&nbsp;&nbsp;
                </label>
            </div>
        </div>
        <table class="table table-bordered" style="border-bottom: 1px solid #cccccc;border-top: 1px solid #cccccc;" data-kz-table-fixed-header>
            <thead>
            <tr>
                <th class="span1">
                    员工姓名
                </th>
                <th class="span1">
                    请假类型
                </th>
                <th class="span2">
                    请假开始时间
                </th>
                <th class="span2">
                    请假结束时间
                </th>
                <th class="span1">
                    请假时长
                </th>
                <th class="span2">
                    请假原因
                </th>
                <th class="span1">
                    状态
                </th>
                <th class="span2">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-class="{'delete-line':item.isDelete}" data-ng-repeat="item in data3">
                <td class="center">{{ item.employeeName }}</td>
                <td class="center">{{ item.leaveType }}</td>
                <td class="center" >{{ parseDate(item.beginTime)| date : 'yyyy年MM月dd日 HH点mm分' }};{{ parseDateWeek(item.beginTime)}}</td>
                <td class="center" >{{ parseDate(item.endTime)| date : 'yyyy年MM月dd日 HH点mm分' }};{{ parseDateWeek(item.endTime)}}</td>
                <td class="center">{{ item.duration }}</td>
                <td title="{{ item.reason }}">{{ item.reason }}</td>
                <td class="center">{{ passTypeList[item.statusId] }}</td>
                <td class="center">
                    <span class="btn-inverse btn-small margin">
                        <a data-ng-click ="showTrackData(item.leaveId)" style="color: #ffffff">
                            <i class="icon-truck"></i> 轨迹</a>
                    </span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui-toolbar ui-widget-header">
            <div class="dataTables_paginate">
                <button class="btn" data-ng-click="loadGridDataEmp(null,'employeeList',true)" data-ng-disabled="!hasManyData3" data-ng-hide="isLoading3">
                        <span data-ng-switch on="hasManyData3">
                            <span data-ng-switch-when="true"><i class="icon-download-alt"></i> 更多</span>
                            <span data-ng-switch-when="false"><i class="icon-twitter"></i> 暂无</span>
                        </span>
                </button>
                <img data-ng-show="isLoading3" src="./img/loading.gif" />
            </div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="leaveTypeOptions.html" >
            <div class="btn-group" >
                <label style="display: inline-block">
                    <input type="checkbox" ng-model="checkAllLeaveTypeFlag3"   ng-checked="checkAllLeaveTypeFlag3==undefined||checkAllLeaveTypeFlag3"  ng-click="$parent.checkAllLeaveType(checkAllLeaveTypeFlag3,'employeeList')"/>
                    <span style="position: relative;top: 3px;font-size: 18px;font-weight: 600">全选</span>&nbsp;&nbsp;
                </label>
                <label style="float: right;right: 20px" ng-click="hide()">x</label>
                <hr style="margin: 2px"/>
                <label style="float: left" ng-repeat="value in $parent.leaveTypes" >
                    <input type="checkbox" value="{{value.id}}"
                           ng-click="$parent.searchDataLeaveType(value.id,$parent.searchData3)"  ng-checked="$parent.searchData3.leaveTypeId.indexOf(value.id)>-1"/>
                    <span style="position: relative;top: 3px">{{value.type}}</span>&nbsp;&nbsp;
                </label>
            </div>
</script>

